body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0%;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: brown;
}

form {
    max-width: 600px;
    margin: auto;
    background-color:aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid purple;
    border-radius: 8px;
    padding:20px;
    margin-bottom: 20px;
    background-color:azure;
}

legend {
    font-weight:bold;
    text-align: left;
    color: brown;
}

label {
    display: inline;
    margin-top: 10px;
    color:chocolate;
}

input,textarea {
    width: calc(100% - 1px);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border: 1px solid purple;
    border-radius: 5px;
    box-sizing:border-box;
}

button {
    display: block;
    width: 100%;
    padding:10px;
    background-color:darkkhaki;
    color: white;
    border: 2px solid brown;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 26px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color:chocolate;
}

